* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

a {
  outline: none;
  text-decoration: none;
  color: #000;
}

img { width: 50%;}

.on_top_window {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #666565;
    border-radius: 50%;
    padding-top: 10px;
    position: fixed;
    z-index: 900;
    bottom: 40px;
    right: 10px;
    opacity: 0.5;
}

.main-container {
  position: relative;
  min-height: 100vh;
}

/* Main Header */
#main-header {
  position: fixed;
  z-index: 999;
  padding: 20px 30px 0 30px;
  width: 100%;
  background-color: #f5f7fa;
}

.site-link {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 10px;
}

.site-link-mobile {
  display: none;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 0;
  text-align: left;
  margin-bottom: 10px;
}

.drop-down-menu-mobile-button {
  height: 15px;
  width: 20px;
  position: absolute;
  top: 17px;
  right: 15px;
  cursor: pointer;
}
.drop-down-menu-mobile-button div {
  position: absolute;
  height: 1px;
  width: 20px;
  background-color: #000;
  top: 5px;
}

.drop-down-menu-mobile-button div::before,
.drop-down-menu-mobile-button div::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 20px;
  background-color: #000;
  left: 0;
}

.drop-down-menu-mobile-button div::before {
  content: "";
  top: 5px;
}

.drop-down-menu-mobile-button div::after {
  content: "";
  top: -5px;
}

/* Nav bar */
.main-navbar-container {
  border-top: 1px solid #cac8c8;
  border-bottom: 1px solid #cac8c8;
}

.main-navbar-container-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 10px 0;
}

.main-navbar-container-list li {margin-right: 50px;}

/* Nav bar for mobile*/

.main-navbar-container-mobile {
  display: none;
  width: 100vh;
  height: 100vh;
  border-top: 1px solid #cac8c8;
  border-bottom: 1px solid #cac8c8;
  background-color: #f5f7fa;
  position: absolute;
}

.main-navbar-list-mobile {
  list-style-type: none;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 10px 0;
}

.main-navbar-list-mobile li {
  margin-right: 50px;
  list-style-type: none;
  padding: 10px 0;
}

.drop-down-menu-mobile-button:hover + .main-navbar-container-mobile {display: block;}

/* Main content container */
.main-content-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

/* Main content */
.main-content {
  position: relative;
  padding: 160px 30px 0 30px;
}

.main-content-title {
  text-align: center;
  padding: 20px;
}
.main-content-image {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-size: 12px;
}

.main-content-quote {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #cac8c8;
  overflow-x: auto;
}

.main-content-item {
  margin-bottom: 40px;
  text-align: center;
  border-top: 1px dotted #666565;
  padding: 20px 0;
}

.main-content-item figure {
  margin: 20px 0;
  text-align: center;
}

.main-content-item p,
.films-description {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  text-indent: 1.5em;
}

.main-content-item p a,
.films-description p a {
  text-decoration: underline;
}

.main-navbar-container-list a:hover {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

/* Main side bar */
/* .main-side-bar {
  position: fixed;
  background-color: #666565;
  color: #fff;
  height: 100vh;
} */

/* Footer */
.main-footer {
  background-color: #3b576e;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}
/*media query*/

@media (max-width: 650px) {
  .site-link,
  .main-navbar-container {
    display: none;
  }
  .site-link-mobile {
    display: block;
  }
}
